[Match]
Name=br-lab

[Link]
Multicast=yes
AllMulticast=yes

[Network]
Address=192.168.35.1/24
Address=fd37:dc42:5e0a:0035::1/64
DHCP=no
IPv6AcceptRA=no
IPv6PrefixDelegation=static
IPForward=yes

[IPv6PrefixDelegation]
Managed=yes
OtherInformation=yes
DNS=fd37:dc42:5e0a:0035::1/64

[IPv6Prefix]
Prefix=fd37:dc42:5e0a:0035::1/64
OnLink=yes
