[Match]
Name=br-lan1

[Link]
Multicast=yes
AllMulticast=yes

[Network]
Address=192.168.35.1/24
Address=fdb6:041f:93aa:0:0:35::1/96
DHCP=no
IPv6AcceptRA=no
IPv6PrefixDelegation=static
IPForward=yes

[IPv6PrefixDelegation]
Managed=yes
OtherInformation=yes
DNS=fdb6:041f:93aa:0:0:35::1/96

[IPv6Prefix]
Prefix=fdb6:041f:93aa:0:0:35::1/96
OnLink=yes
