[NetDev]
Name=wg-stub
Kind=wireguard
Description=WireGuard stub

[WireGuard]
PrivateKey=CF/m+JW6aRMDiyiZnhpJN7OuIOYRDPRJj+TGcyZMc14=
ListenPort=51820
