[NetDev]
Name=wg-stub
Kind=wireguard
Description=WireGuard stub 192.168.255.1

[WireGuard]
PrivateKey=CF/m+JW6aRMDiyiZnhpJN7OuIOYRDPRJj+TGcyZMc14=
ListenPort=51820
